.aicons {
  background-color: #f5f4fa;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;
  margin-bottom: 30px;
}
.about-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.sabtitle {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-list {
  display: flex;
  justify-content: space-between;

  & .about-item + .about-item {
    margin-left: 30px;
  }
}

.icon {
  display: block;
  justify-content: center;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}
