.gallery {
  padding-top: 0px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.pictures {
  position: relative;
}
.pic-text-gal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}
.work {
  display: flex;
  gap: 30px;
}
