:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --fon-color: #ffffff;
  --kard-fon-portfolio: #eeeeee;
  --secondary-text: #000000;
  --section-fon: #f5f4fa;
  --futer-hero: #2f303a;
  --color: #ececec;
  --color-st: #ffffff 60 %;
  --btn-color: #188ce8;
  --icon-color: #afb1b8;
}
